[submodule "ext-libs/rapidcheck"]
	path = ext-libs/rapidcheck
	url = https://github.com/emil-e/rapidcheck
[submodule "ext-libs/cad_geometry"]
	path = ext-libs/cad_geometry
	url = https://github.com/wuerges/cad_geometry
